block value
include ../config/_config

doctype html
html(lang="ua")
  head
    include ../config/_meta
    include ../config/_favicon
    include ../config/_stylesheet
    include ../config/_javascript

  body
    .mega-wrapper
      block header

      block main

      block footer