header.site_header.d_flex.align_items_center
  .container_xl.d_flex.align_items_center
    .logo.header_animation
      span.custom-logo-link
        img.custom-logo(src="./img/logo.svg" alt="")      
    // /.logo
    nav.nav__header_main_menu
      ul#menu-glavnoe-menju.header_main_menu.header_animation
        li#menu-item-230.has_sub__catalog.menu-item.menu-item-type-post_type.menu-item-object-page
          a(href='scrollto1').scrollto1.scrollto Агрохімічний аналіз грунту
        li#menu-item-161.menu-item.menu-item-type-post_type.menu-item-object-page
          a(href='scrollto2').scrollto2.scrollto Аналіз насіння
        li#menu-item-2767.menu-item.menu-item-type-post_type_archive.menu-item-object-garden
          a(href='scrollto3').scrollto3.scrollto Тканинна діагностика
        li#menu-item-514.menu-item.menu-item-type-post_type.menu-item-object-page
          a(href='scrollto4').scrollto4.scrollto Фітопатологічний аналіз
    // /.header_main_menu


    .header_phone.header_animation
      a(href='tel:+380957479702')
        span +38 095 747 97 02
      a(href="viber://chat?number=380957479702") 
        img(src="./img/viber.svg", alt="") 
    // /.header_phone
    button.burger.header_animation(aria-label='Меню')
    // /.burger
  // /.container_xl
// /.site_header
.mobile_menu
  .mobile_menu__header
    .close
  // /.mobile_menu__header
  ul.mobile_menu__nav
    li.mobile_catalogs__list
      span.parent__wrapper.main_parent__wrapper
        h3.catalogs__main_title 
          a(href='scrollto1').scrollto Агрохімічний аналіз грунту
    li.mobile_catalogs__list
      span.parent__wrapper.main_parent__wrapper
        h3.catalogs__main_title 
          a(href='scrollto2').scrollto Аналіз насіння
    li.mobile_catalogs__list
      span.parent__wrapper.main_parent__wrapper
        h3.catalogs__main_title 
          a(href='scrollto3').scrollto Тканинна діагностика
    li.mobile_catalogs__list
      span.parent__wrapper.main_parent__wrapper
        h3.catalogs__main_title 
          a(href='scrollto4').scrollto Фітопатологічний аналіз
   
  // /.mobile_menu__nav
// /.mobile_menu
// /.modal_popup__laboratory
#sublaboratory.modal.modal__laboratory
  .close
  .wrapper
    #wpcf7-f1845-o2.wpcf7.no-js
      .screen-reader-response
        p(role='status' aria-live='polite' aria-atomic='true')
        ul
      form.wpcf7-form.init(action='/libra2/#wpcf7-f1845-o2' method='post' aria-label='Контактная форма' novalidate='novalidate' data-status='init')
        div(style='display: none;')
          input(type='hidden' name='_wpcf7' value='1845')
          input(type='hidden' name='_wpcf7_version' value='5.7')
          input(type='hidden' name='_wpcf7_locale' value='ru_RU')
          input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f1845-o2')
          input(type='hidden' name='_wpcf7_container_post' value='0')
          input(type='hidden' name='_wpcf7_posted_data_hash' value='')
          input(type='hidden' name='lang' value='ua')
        h4 Зв'язок
        input.wpcf7-form-control.wpcf7-hidden(value='' type='hidden' name='page-name')
        input.wpcf7-form-control.wpcf7-hidden(value='' type='hidden' name='page-link')
        span.wpcf7-form-control-wrap(data-name='text-593')
          input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(size='40' aria-required='true' aria-invalid='false' placeholder="Ім'я*" value='' type='text' name='text-593')
        span.wpcf7-form-control-wrap(data-name='email-900')
          input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(size='40' aria-required='true' aria-invalid='false' placeholder='Номер телефону*' value='' type='tel' name='email-900')
        span.wpcf7-form-control-wrap(data-name='your-message')
          textarea.wpcf7-form-control.wpcf7-textarea(cols='40' rows='5' aria-invalid='false' placeholder='Коментар' name='your-message')
        input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='Замовити')
        .wpcf7-response-output(aria-hidden='true')
// /.modal_popup__laboratory
.pop-up