meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name='description', content="LibraLAB – сучасна агрохімічна лабораторія, що надає широкий спектр послуг для сільськогосподарського виробництва, основною метою яких є отримання планованого врожаю високої якості.")

//- og
meta(property="og:title" content="LibraLAB – сучасна агрохімічна лабораторія")
meta(property="og:type" content="website")
meta(property='og:locale', content='ua')
meta(property="og:site_name" content="LibraLAB")
meta(property="og:description" content="LibraLAB – сучасна агрохімічна лабораторія, що надає широкий спектр послуг для сільськогосподарського виробництва, основною метою яких є отримання планованого врожаю високої якості.")
meta(property="og:image" content="libra-image.png")

//- twitter
meta(name="twitter:card", content="LibraLAB")
meta(name="twitter:site" content="website")
meta(name="twitter:title" content="LibraLAB – сучасна агрохімічна лабораторія")
meta(name="twitter:description" content="LibraLAB – сучасна агрохімічна лабораторія, що надає широкий спектр послуг для сільськогосподарського виробництва, основною метою яких є отримання планованого врожаю високої якості.")
meta(name="twitter:image" content="libra-image.png")

//- facebook
//- meta(property="fb:admins" content=`${facebookAdmins ? facebookAdmins : ''}`)
//- meta(property="fb:app_id" content=`${facebookAppId ? facebookAppId : ''}`)

//- Title
title #{title ? title : 'Libra Lab'}
