meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name='description', content="Агрохімічний аналіз ґрунту, аналіз насіння, тканинна (листова) діагностика, фітопатологічний аналіз рослин, тел. +38 095 747 97 02")

//- og
meta(property="og:title" content="LibraLAB — сучасна агрохімічна лабораторія, мобільна лабораторія, Лібра Агро, Одеса")
meta(property="og:type" content="website")
meta(property='og:locale', content='ua')
meta(property="og:site_name" content="LibraLAB")
meta(property="og:description" content="Агрохімічний аналіз ґрунту, аналіз насіння, тканинна (листова) діагностика, фітопатологічний аналіз рослин, тел. +38 095 747 97 02")
meta(property="og:image" content="libra-image.png")

//- twitter
meta(name="twitter:card", content="LibraLAB")
meta(name="twitter:site" content="website")
meta(name="twitter:title" content="LibraLAB — сучасна агрохімічна лабораторія, мобільна лабораторія, Лібра Агро, Одеса")
meta(name="twitter:description" content="Агрохімічний аналіз ґрунту, аналіз насіння, тканинна (листова) діагностика, фітопатологічний аналіз рослин, тел. +38 095 747 97 02")
meta(name="twitter:image" content="libra-image.png")

//- facebook
//- meta(property="fb:admins" content=`${facebookAdmins ? facebookAdmins : ''}`)
//- meta(property="fb:app_id" content=`${facebookAppId ? facebookAppId : ''}`)

//- Title
title LibraLAB — сучасна агрохімічна лабораторія, мобільна лабораторія, Лібра Агро, Одеса
