main.l-main
    .main-part
        p.singe_page_header.section_title.big-bold
            span.green-span LibraLAB —
            | сучасна агрохімічна лабораторія
        .wrap-main-image 
            img(src="../img/main-pic.png", alt="")        
//Про лабораторію
.about-section 
    .container
        .lab_content            
            p.bottom_text.mega-header Про лабораторію
            p.norm_text Час і досвід привели нас до створення власної агролабораторії. LibraLAB – сучасна агрохімічна лабораторія, що надає широкий спектр послуг для сільськогосподарського виробництва, основною метою яких є отримання планованого врожаю високої якості.
            p.norm_text Високий професійний рівень персоналу агролабораторії та агрономів гарантують якість виконання лабораторних досліджень та рекомендацій!
//Послуги компанії
.bg_text__wrap
  span.bg_text__fix Послуги компанії
  .bg_text
    span.uppercase Послуги компанії
// Чим ми можемо бути корисними для Вас?
.container.because_first
  .because__grid_header
    .item_title Чим ми можемо бути корисними для Вас?
  // /.because__grid_header
  .because__grid_body
    .item
      .image
        img(src='../img/analiz.svg' alt='Фото: Аналізуємо' width='62' height='62' loading='lazy')
      .title Аналізуємо
      .description
        ol
          li агрохімічний аналіз ґрунту;
          li аналіз насіння;
          li фітопатологічний аналіз рослин;
          li тканинну діагностику.
    .item
      .image
        img(src='../img/ferit.svg' alt='Фото: Корегуємо' width='62' height='62' loading='lazy')
      .title Коригуємо
      .description
        | і розробляємо практичні програми харчування рослин
    .item
      .image
        img(src='../img/seeds.svg' alt='Фото: Розраховуємо' width='68' height='68' loading='lazy')
      .title Розраховуємо
      .description
        | та визначаємо основне внесення мінеральних добрив
    .item
      .image
        img(src='../img/support.svg' alt='Фото: Консультуємо' width='79' height='80' loading='lazy')
      .title Консультуємо
      .description
        | і даємо практичні рекомендації щодо живлення рослин
  // /.because__grid_body
  .lab_content
    p.norm_text Наші фахівці максимально швидко та точно проводять аналізи та допомагають клієнтам правильно оцінити ситуацію на полях та застосувати результативну програму харчування та захист рослин з метою отримання максимальної врожайності за оптимальних витрат.
    p.norm_text Агрохімічний аналіз ґрунту, аналіз насіння, тканинну (листову) діагностику, фітопатологічний аналіз рослин — всі ці послуги можна з легкістю замовити в нас і бути впевненим у якісному їх виконання.
    p.norm_text Завдяки агрохімічному аналізу ви зможете швидко і своєчасно отримати повний аналіз вмісту всіх елементів живлення ґрунту, субстрату і таким чином досягти максимально можливої продуктивності рослин за допомогою точного регулювання їх харчування. Лабораторія LibraLAB за бажанням замовника виконує як базовий, так і аналіз грунту на мезо і мікроелементи.
    p.norm_text За допомогою аналізу насіння ви зможете скоригувати норму висіву насіння, а також точно встановити видову приналежність фітопатогенів і вчасно застосувати методи і заходи по боротьбі із зовнішньою та внутрішньою інфекцією.
    p.norm_text З використанням тканинної (листової) діагностики ви завжди будете знати потреби рослин в макро-, мезо і мікроелементах, і зможете своєчасно провести позакореневі підживлення, спираючись на потреби рослини.
    p.norm_text Завдяки фітопатологічного аналізу рослин Ви знатимете збудника грибкового захворювання, що дозволить оперативно і правильно підібрати необхідний фунгіцид.
    p.norm_text Завдяки мобільній лабораторії ми заощадимо Ваш час і запропонуємо практичні інструменти для ефективного харчування та захисту рослин, ефективність яких неодноразово підтверджена. Можливо замовити виїзд мобільної лабораторії прямо до вас на полі.
    img.aligncenter.wp-image-3082.size-full(decoding='async' loading='lazy' src='https://libraseeds.com.ua/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2023/01/image.png.webp' alt='' width='767' height='547' srcset='https://libraseeds.com.ua/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2023/01/image.png.webp 767w,  https://libraseeds.com.ua/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2023/01/image-304x217.png.webp 304w,  https://libraseeds.com.ua/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2023/01/image-480x342.png.webp 480w,  https://libraseeds.com.ua/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2023/01/image-280x200.png.webp 280w' sizes='(max-width: 767px) 100vw, 767px')
  // /.lab_content
// /.container

.bg_text__wrap
  span.bg_text__fix агролабораторія
  .bg_text
    span.uppercase агролабораторія
.container
  .because__grid_headerw
    .item_title.to-left Переваги лабораторії LibraLAB:
  // /.because__grid_header
  .because__grid_body
    .item
      .image
        img(src='../img/001.svg' alt='Фото: Точність' width='84' height='84' loading='lazy')
      .title Точність
      .description
        span | Висока точність результатів аналізів обумовлена сучасним обладнанням та професіоналізмом фахівців.
    .item
      .image
        img(src='../img/002.svg' alt='Фото: Оперативність' width='84' height='84' loading='lazy')
      .title Оперативність
      .description
        span Результати аналізів виявляються в їх своєчасному проведенні і надаються в стислі терміни: настільки швидко, наскільки дозволяє методика проведення аналізу
    .item
      .image
        img(src='../img/003.svg' alt='Фото: Достовірність' width='84' height='84' loading='lazy')
      .title Достовірність
      .description
        span Кожен результат аналізу ретельно перевіряється і проходить 3-ступінчастий контроль, і тільки потім надається клієнту разом з поясненнями і доцільними рекомендаціями
    .item
      .image
        img(src='../img/004.svg' alt='Фото: Виїзд спеціалістів' width='84' height='84' loading='lazy')
      .title Виїзд спеціалістів
      .description
        span За допомогою мобільної агролабораторії ми заощадимо ваш час і надамо своєчасну консультацію безпосередньо в полі
    .item
      .image
        img(src='../img/005.svg' alt='Фото: Надійність' width='84' height='93' loading='lazy')
      .title Надійність
      .description
          span Пропонує клієнтам лише ті послуги та інструменти для ефективного харчування рослин, які будуть результативними та економічно вигідними. Ми знаходимо унікальне рішення для кожного сільгоспвиробника.
    .item.arrow
  // /.because__grid_body
.container
  .bottom_text
    span Оскільки агродіагностика полів для оптимізації систем живлення та захисту рослин завжди актуальна – виберіть відповідний аналіз саме для Вас, 
        span.green а ми знайдемо оптимальне рішення для вашого господарства!
  // /.bottom_text
.bg_text__wrap
  span.bg_text__fix Агрохімічний аналіз ґрунту
  .bg_text
    span.uppercase Агрохімічний аналіз ґрунту
.about-section(id="scrollto1") 
    .container
        .lab_content            
            p.bottom_text.mega-header Агрохімічний аналіз ґрунту
            p.norm_text.bold Недолік чи надлишок у ґрунті елементів живлення, доступних для рослин?
              | Неправильно підібрана формула та норма добрив як для основного внесення, так і
              | підживлення?
            p.norm_text Ґрунт – складна система, що сформувалася внаслідок взаємодії хімічних, біологічних та хімічних процесів. Аналіз ґрунту дає уявлення про них і допомагає зрозуміти, як забезпечити оптимальний баланс між ними.
            p 
              img(class="aligncenter wp-image-3082 size-full" src="../img/pic2.png" alt="")
            p.norm_text  За допомогою агрохімічного аналізу ґрунту Ви зможете швидко та своєчасно отримати повний аналіз вмісту всіх елементів живлення ґрунту та, таким чином, досягти максимально можливої продуктивності рослин за допомогою точного регулювання їх живлення.
            p.norm_text  Своєчасне виявлення та вирішення проблем, виявлених внаслідок агрохімічного аналізу ґрунту, дозволяє мінімізувати виробничі ризики та збільшує шанси отримати високий урожай. Для отримання високих урожаїв особливо важливо контролювати нестачу або надлишок у ґрунті елементів живлення, причому перед посівом, так і протягом усього сезону.
            p.norm_text.bold Лабораторія LibraLAB за бажанням замовника виконує як базовий, так і аналіз ґрунту на мезо- та мікроелементи.
            p.norm_text Агрохімічний аналіз ґрунту дозволить отримати максимальне зростання врожаю, а також прибуток із кожного гектара Вашого поля. Ви зможете ефективно та економно використовувати добрива та отримати стабільно високий урожай найкращої якості:
            .about_home__body
              .item
                .num +30% 
                .text приріст урожаю
              .item
                .num -45%
                .text економія на добривах
              .item
                .num +50%
                .text зростання прибутку
            p.norm_text  Отримавши результати аналізу, експерт із харчування рослин розробляє або коригує систему живлення рослин на основі органомінеральних добрив ТМ SmartGrow та розраховує основне внесення мінеральних добрив.
.container
  .bottom_text.thin
    span.VIiyi(lang='uk')
      span.JLqJ4b.ChMk0b
        span.Q4iAWc
          | При необхідності виїжджаємо у поля для відбору зразків
.container
  .content
    .two-parts-block     
      .text_part.lab_content     
          p.bottom_text.middle-header Базовий аналіз ґрунту
          p.norm_text Одним із найбільш доступних факторів регулювання росту та розвитку рослин є зміна їх мінерального харчування. Це можливо тільки при належній діагностиці харчування рослин, тобто передчасного виявлення нестачі або надлишку в грунті доступних для рослин елементів живлення.
          p.norm_text За допомогою агрохімічного аналізу ви зможете швидко і своєчасно отримати повний аналіз вмісту всіх елементів живлення ґрунту, субстрату або живильного розчину і таким чином досягти максимально можливої продуктивності рослин за допомогою точного регулювання їх харчування.
          p.norm_text 
            b Лабораторія LibraLAB 
            | за бажанням замовника виконує як базовий, так і аналіз грунту на мезо і мікроелементи.
      .image_part
        img(src='../img/image3.png' alt='Фото' loading='lazy')
        .absolute-block.blocks-inf
          .description
              strong Як передати зразки?
              ol
                li замовити виїзд спеціалістів агролабораторії у господарство для відбору зразків;
                li привезти особисто до лабораторії за адресою: м. Одеса, Київське шосе, 28
                li надіслати посилку: Нова Пошта, м. Одеса, відділення №1, отримувач ТОВ "Лібра Агро", +38(050)-334-07-29.
.container
  .content
    h2.wp-block-heading Базовий аналіз ґрунту включає визначення 6 показників:
    ol
      li масова частка мінерального азоту;
      li масова частка рухомого фосфору;
      li масова частка рухомого калію;
      li масова частка сірки;
      li рН сольовий, рН водяний;
      li Ес засоленість.
.container
  .bottom_text.thin
    span Даний аналіз краще проводити після збору попередника перед внесенням мінеральних добрив
.container
  .content
    .text_part.lab_content     
        p.bottom_text.middle-header Мезо- та мікроелементи на вибір
        p.norm_text Одним із найбільш доступних факторів регулювання росту та розвитку рослин є зміна їх мінерального харчування. Це можливо тільки при належній діагностиці харчування рослин, тобто передчасного виявлення нестачі або надлишку в грунті доступних для рослин елементів живлення.
        p.norm_text За допомогою агрохімічного аналізу ви зможете швидко і своєчасно отримати повний аналіз вмісту всіх елементів живлення ґрунту, субстрату або живильного розчину і таким чином досягти максимально можливої продуктивності рослин за допомогою точного регулювання їх харчування.
        p.norm_text 
          b Лабораторія LibraLAB 
          | за бажанням замовника виконує як базовий, так і аналіз грунту на мезо і мікроелементи.
        .space
        h2.wp-block-heading Аналіз ґрунту на мезо- та мікроелементи включає визначення 7 елементів:
    .two-parts-block.thin-blokc     
      .text_part.lab_content     
         ol
            li кальцій (Ca); 
            li магній (Mg); 
            li бор (B); 
            li залізо (Fe); 
            li марганець (Mn);
            li молібден (Mo); 
            li цинк (Zn). 
      .image_part
        img(src='../img/grunt.png' alt='Фото' loading='lazy')
        .absolute-block.blocks-inf
          .description
              strong Як передати зразки?
              ol
                li замовити виїзд спеціалістів агролабораторії у господарство для відбору зразків;
                li привезти особисто до лабораторії за адресою: м. Одеса, Київське шосе, 28
                li надіслати посилку: Нова Пошта, м. Одеса, відділення №1, отримувач ТОВ "Лібра Агро", +38(050)-334-07-29.
    .more-thin 
      p.norm_text Даний аналіз краще проводити після збору попередника перед внесенням мінеральних добрив.
      p.norm_text Отримавши результати аналізу, експерт з живлення рослин розробляє або коригує систему живлення рослин на основі органо-мінеральних добрив ТМ «SmartGrow» і розраховує основне внесення мінеральних добрив.
    h2.wp-block-heading Як сплатити послугу?
    p.norm_text Зручним для Вас способом: картка, готівковий або безготівковий.
    .pay__block
      .pay__block_price
        .button_wrapper
          button.open_modal_form(data-popup='sublaboratory' data-popup-title='Зв*язок') Замовити
        .price_flex
          .price_flex__wrap
            a.price_flex__title(href='https://smartgrow.com.ua/wp-content/uploads/2022/10/prajs-list-laboratorii-libralab.pdf' download='') Завантажити прайс-лист
            .price_flex__subtitle
              span.uppercase pdf&nbsp;
              | 321,86Kb
.bg_text__wrap
  span.bg_text__fix Аналіз насіння
  .bg_text
    span.uppercase Аналіз насіння
.about-section(id="scrollto2") 
    .container
        .lab_content            
            p.bottom_text.mega-header Аналіз насіння
        .content
          h3.wp-block-heading
            | Слабкі та зріджені посіви? Поганий відсоток схожості? Заражене насіння хворобами? Низькі врожаї?
          p.norm_text У сучасному рослинництві діють багато чинників, яких залежить успішність всього виробництва: насіння, добрива, СВР, агротехніка тощо. Але близько 30% результату, за словами агрономів, залежить все ж таки від насіння — його якості, сортових параметрів, схожості та інших показників. Дуже важливо використовувати виключно якісне насіння та оптимально підібрані протруйники для них. І у цьому Вам допоможе сучасна агролабораторія LibraLab компанії Лібра Агро.
          h3.wp-block-heading Лабораторія LibraLAB проводить визначення таких показників:
          ol
            li енергія проростання;
            li схожість насіннєвого матеріалу;
            li маса 1000 насінин;
            li діагностика насіння на зараженість (вид та ступінь зараження);
            li виявлення внутрішньої та зовнішньої інфекції.
          p.norm_text Дослідження насіннєвого матеріалу, зокрема маси 1000 насінин, дозволяє з вищою точністю розрахувати норму висіву. Знаючи енергію проростання та схожість, можливо коригувати норми висіву.
            | Адже при низьких даних показниках норма збільшується від запланованої на 10-15%; також можливе
            | застосування додаткових стимулюючих препаратів, що позитивно впливають на посівні якості насіння.
            | Оцінивши якість насіння, змінити можна не лише норму висіву. Після проведених досліджень також є
            | можливість обрати найефективніший протруйник та заздалегідь оцінити, наскільки якісним буде
            | протруювання, і чи потребуватиме насіння додаткової очистки для подальшої передпосівної обробки.
           
          h3.wp-block-heading Проводячи аналіз насіння, Ви в загальному економите -30% на:
          p
            | -10% на вдалому підборі діючих речовин протруйника;
            br
            | -10% економія на правильному розрахунку норми висіву;
            br
            | -10% економія на стимулюючих препаратах.
          p
            | Отримавши результати, фітопатолог лабораторії LibraLAB надає висновки про відповідність отриманих
            | результатів та надає рекомендації щодо обробки насіння, а також обґрунтований підбір протруйника,
            | стимулюючих препаратів.
            br
            | Посівна вже не загорами, тож не зволікайте та звертайтесь до спеціалістів агролабораторії «LibraLaB»!
    
          .two-parts-block.large-text
            .text_part.lab_content
                p.bottom_text.middle-header Фітопатологічна експертиза насіннєвого матеріалу 
                p.norm_text Дуже важливе протруювання насіння перед посівом якісними протруйниками. Якісне протруювання насіння здатне скоротити можливу втрату врожаю від 30 до 65%. При виборі препарату необхідно враховувати сортові особливості, прогноз ураження хворобами відповідно до результатів аналізу та погодні умови.
            .image_part.img-more-small
              img(src='../img/fito.png' alt='Фото' loading='lazy')
.container
  .content
    h2.wp-block-heading
      strong
        strong Агролабораторія LibraLAB проводить визначення таких показників як:
    ol
      li діагностика насіння на зараженість (вид та ступінь зараження);
      li виявлення внутрішньої та зовнішньої інфекції.
    p.norm_text Фітопатологічна експертиза насіннєвого матеріалу дозволить точно встановити видову приналежність фітопатогенів і вчасно застосувати методи і заходи по боротьбі із зовнішньою та внутрішньою інфекцією, що дозволить вам зберегти майбутній урожай.
    p.norm_text Даний аналіз краще проводити разом із схожістю насіння, за 1–2 місяці до посіву або перед покупкою насіннєвого матеріалу.
    p.norm_text Діагностика насіння на зараженість, виявлення внутрішньої та зовнішньої інфекції включає: висновки про відповідність отриманих результатів та рекомендації щодо обробки насіння, а також обґрунтований підбір протруйника.
.container.seed-material 
  .content 
    p.bottom_text.middle_header.bold.left Схожість насіннєвого матеріалу
    p.norm_text Насіння з гарною схожістю та високою енергією проростання, за нормальної агротехніки, завжди дають дружні та повноцінні сходи, а фітопатологічна експертиза насіння дасть змогу точно встановити видову приналежність фітопатогенів і правильно підібрати фунгіцид для передпосівної обробки насіння, що дасть змогу вам зберегти майбутній врожай.
    h2 
      strong Агролабораторія LibraLAB проводить <br> визначення таких показників як: 
    .two-parts-block.large-text.no-margin
        .text_part.lab_content
            ol
              li енергія проростання і схожість насіннєвого матеріалу;
        .image_part.img-more-small
            ol
              li маса 1000 насінин.
    p.norm_text  Цей аналіз краще проводити за 1-2 місяці до посіву або перед купівлею насіннєвого матеріалу.
    p.norm_text  Маса 1000 насінин, схожість, енергія проростання - найважливіші показники якості насіння. Тому рекомендуємо перед висівом перевіряти насіння в лабораторії, щоб бути впевненими в тому, що сієте насіння з кондиціями, які потрібні.
    .two-parts-block.large-text
        .text_part.lab_content
            p.norm_text Одним із найважливіших чинників якості посівного матеріалу є маса 1000 насінин, адже добре наповнене насіння має більшу енергію проростання, більший відсоток схожості та, відповідно, від самого початку дає добрий старт рослинам.
            p.norm_text Схожість насіння та енергія проростання. Від цих показників залежить посівна якість, густота посіву, дружність сходів, рівномірність розподілу на полі стеблостою. Основні посівні якості насіння формуються в процесі вирощування насіннєвого матеріалу і значною мірою залежать від зональних особливостей, ґрунтово-кліматичних умов, технології вирощування, системи удобрення.
        .image_part.img-more-small
          img(src="../img/seeds3.png", alt="")
    .pay__block
      .pay__block_price
        .button_wrapper
          button.open_modal_form(data-popup='sublaboratory' data-popup-title='Замовити Мезо- і мікроелементи на вибір') Замовити
        .price_flex
          .price_flex__wrap
            a.price_flex__title(href='https://smartgrow.com.ua/wp-content/uploads/2022/10/prajs-list-laboratorii-libralab.pdf' download='') Завантажити прайс-лист
            .price_flex__subtitle
              span.uppercase pdf&nbsp;
              | 321,86Kb
.bg_text__wrap
  span.bg_text__fix Тканинна діагностика
  .bg_text
    span.uppercase Тканинна діагностика
.about-section(id="scrollto3")
    .container
        .lab_content            
            p.bottom_text.mega-header Тканинна діагностика
        .content
          p.norm_text За допомогою цієї послуги ви завжди знатимете потреби рослин у макро-, мезо- та мікроелементах на основі визначення фотохімічної активності хлоропластів.
          p.norm_text 
            b Основні цілі тканинної (листової) діагностики:  
            | визначення концентрації основних поживних елементів, необхідних для розвитку рослин; у разі виникнення зовнішніх ознак дефіциту - визначення, який саме елемент перебуває в дефіциті; моніторинг рівня забезпеченості елементами живлення рослин для досягнення планованої врожайності.
          h2 
            strong Тканинна (листкова) діагностика включає визначення потреби рослини в 14 елементах живлення:
          .two-parts-block.large-text
              .text_part.lab_content.flex-it
                  .list1 
                      ol
                        li азот (N);
                        li фосфор (P);
                        li калій (K);
                        li сірка (S);
                        li кальцій (Ca);
                        li магній (Mg);
                        li бор (B);
                  .list1
                      ol 
                        li мідь (Cu);
                        li залізо (Fe);
                        li цинк (Zn);
                        li марганець (Mn);
                        li молібден (Mo);
                        li кобальт (Co);
                        li йод (I).
              .image_part.img-more-small
                img(src="../img/TKAN.png", alt="")
          p.norm_text Агрохіміки лабораторії протягом 40-50 хвилин проводять функціональну діагностику живлення рослин на конкретному полі.
          p.norm_text Аналіз краще проводити в критичні фази розвитку рослини, перед проведенням підживлення.
          h2.wp-block-heading
            strong Проведення тканинної (листової) діагностики дає змогу:
              
          ol
            li
              | своєчасно визначити потребу живлення сільськогосподарських культур у 14 макро-, мезо- та мікроелементах до прояву ознак голодування;
            li скоригувати дози внесення добрив;
            li реалізувати потенціал урожайності культур;
            li підвищити стресостійкість рослин;
            li збільшити врожайність;
            li підвищити імунітет рослин до інфекційних захворювань.
          p
            | На підставі отриманих результатів експерт з живлення рослин дає рекомендації щодо проведення позакореневого підживлення, спираючись на потреби рослини.
.bg_text__wrap
  span.bg_text__fix Фітопатологічний аналіз рослин
  .bg_text
    span.uppercase Фітопатологічний аналіз рослин

.fito(id="scrollto4")
    .container
      .lab_content
          p.bottom_text.mega-header Фітопатологічний аналіз рослин
      .content    
        .two-parts-block.large-text
          .text_part.lab_content
            p.norm_text 
              b Фітопатологічний аналіз - 
              | своєчасна діагностика захворювань рослин на ранніх стадіях розвитку патогена.
            p.norm_text Фітопатологічний аналіз рослин дає змогу оперативно і правильно підібрати оптимальні методи і засоби захисту рослин на основі отриманих результатів з визначення збудника грибкового захворювання.
          .image_part.img-more-small
            img(src="../img/fitocheck.png", alt="")
      .content.fito-block
        h2.wp-block-heading
          strong
            | Для проведення такого роду аналізів, лабораторія LibraLAB використовує два методи визначення збудника грибкового захворювання:
        ol
          li первинне мікроскопування. Строк проведення: 1-2 дні;
          li метод вологих камер. Строк проведення: 2-5 днів.
        h3.wp-block-heading
          strong Даний аналіз рекомендовано проводити:
        ol
          li кожні 7-10 днів з моменту появи сходів;
          li додатково після опадів, перепаду температури повітря;
          li перед обробкою посівів фунгіцидами.
        p.norm_text Проведення фітопатологічного аналізу рослин сьогодні є оптимальним рішенням проблеми зниження витрат при застосуванні фунгіцидів як у невеликих, так і великих фермерських господарствах. Це досягається точним і обґрунтованим внесенням фунгіцидів, а так само можливістю планування витрат.



.footnote
  .container
    .wrap
      .start_partner.elem
        .image(style='background-image: url(https://smartgrow.com.ua/wp-content/themes/libra-agro/images/icons/handshake.svg)')
        button.link.open_modal_form(data-popup='modal__partner') &Scy;&tcy;&acy;&tcy;&icy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&mcy;
      // /.start_partner
      .go_maps.elem
        .image(style='background-image: url(https://smartgrow.com.ua/wp-content/themes/libra-agro/images/icons/map.svg)')
        a.link(href='https://smartgrow.com.ua/shops-location/') &Dcy;&iecy; &kcy;&ucy;&pcy;&icy;&tcy;&icy;?
      // /.go_maps

footer.site_footer
  .image_wrap(style='background-image: url(https://smartgrow.com.ua/wp-content/webp-express/webp-images/doc-root/wp-content/themes/libra-agro/images/elements/footer.png.webp)')
  .site_footer__body
    .footer-content
      .footer-inner 
        .left-footer
          p.footer-inner-hader З усіх питань:
          a(href="mailto:info@SmartGrow.ua").footer-inner-link info@SmartGrow.ua
          a(href="tel:+380507854575").footer-inner-phone +38 050 785 45 75
        .right-footer
          p.footer-inner-hader Для тих хто хоче стати нашими партнерами!
          a(href="mailto:dealer@SmartGrow.ua").footer-inner-link dealer@SmartGrow.ua
          a(href="tel:+380487024211").footer-inner-phone +380 48 702 42 11
      .footer-line 
        nav.footer-nav 
          li.footer-li  
            a(href="#") Агрохімічний аналіз грунту
          li.footer-li  
            a(href="#") аналіз насіння
          li.footer-li  
            a(href="#") тканнина діагностика
          li.footer-li  
            a(href="#") фітопаталолічний аналіз
        ul.social
          li
            a(href='https://www.instagram.com/libra_agro/' rel='nofollow')
              img(src='https://smartgrow.com.ua/wp-content/uploads/2022/08/insta.svg' alt='' height='27' width='27')
          li
            a(href='https://www.facebook.com/libraagro/' rel='nofollow')
              img(src='https://smartgrow.com.ua/wp-content/uploads/2022/08/facebook.svg' alt='' height='27' width='27')
          li
            a(href='https://www.youtube.com/channel/UC0wCD9uFPmlzjCvjPLF3-sQ/videos' rel='nofollow')
              img(src='https://smartgrow.com.ua/wp-content/uploads/2022/08/youtube.svg' alt='' height='27' width='27')
      .copy-line 
        p © 2022. Всі права захищені | Створення сайту - 
          a(href="#") Студія Март      